@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Mitr:wght@200;300;400;500;600;700&family=Noto+Sans+TC:wght@100..900&family=Noto+Sans+Thai:wght@100..900&family=Noto+Serif+Thai:wght@100..900&family=Playpen+Sans+Thai:wght@100..800&display=swap');

body {
    font-family: "Mitr", sans-serif;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #f37a01;
    --bs-btn-border-color: #f37a01;
    --bs-btn-hover-color: #f37a01;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #f37a01;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #f37a01;
    --bs-btn-active-border-color: #f37a01;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #585451;
    --bs-btn-disabled-border-color: #f37a01;
}

.bg-primary {
    background-color: #f37a01 !important;
}

.error_msg {
    color: red;
}

